.image-wrapper {
    aspect-ratio: 1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}

.sub-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    user-select: none;

    .image {
        padding: 5rem;
        max-width: 100%;
        max-height: 100%;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        object-fit: cover;
    }
}
.sub-image-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}
.close-icon {
    position: absolute;
    top: 3rem;
    right: -2rem;
    width: 5rem;
    height: 5rem;

    background-color: rgba(190, 189, 189, 0.288);
    fill: white;
    stroke: white;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}
