.col-product-item {
    padding: 1rem 0;
}
.product-item {
    display: flex;
}
.buy-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.product-item {
    margin: 1.5rem 1.5rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
