.col-product-item {
    padding: 1rem 0;
}
.product-item {
    display: flex;
}
.product-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}
.product-item {
    margin: 1.5rem 1.5rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
