.check-out-warpper {
    height: auto;
}
// .container-check-out {
//     position: relative;
//     min-height: 95vh;
//     width: 100%;
//     display: flex;
//     align-items: center;
// }
.row-box {
    width: 100%;
    min-height: 100%;
}
.col-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid black;
}
.check-out-infor {
    min-height: 70vh;
    margin: 1.5rem 0;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.box-infor {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    margin: 0.5rem;
    border-bottom: 0.2rem solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
