.product-image-container {
    border: 1px solid #dbdbdb;
    width: 100%;
    display: block;
    background-color: white;
    box-shadow: -2px 15px 28px -9px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: -2px 15px 28px -9px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -2px 15px 28px -9px rgba(0, 0, 0, 0.17);
    .product-image-wrapper {
        width: 100% !important;
        height: 100% !important;
        .product-image {
            object-fit: 'contain';
            height: auto !important;
            width: 80% !important;
            margin: auto;
            padding: 2rem;
        }
    }
}
.sub-img-container {
    margin-top: 2rem !important;
}
