@import '~@fortawesome/fontawesome-free/css/all.css';
.buy-button-warpper {
    width: 100%;
}
.buy-button {
    width: 100%;
}
.container {
    // margin: 10% auto;
    width: 100%;
    text-align: center;
    color: #11111182;
}

.btn-buy:hover {
    cursor: pointer;
    border: 2px solid #fff;
    background-color: rgb(221, 86, 86);
}
.btn-buy {
    width: 40%;
    background: transparent;
    outline: none;
    position: relative;
    border: 0.2rem solid #11111182;
    border-radius: 15px;
    padding: 1rem 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buy:hover:before {
    opacity: 1;
    transform: translate(0, 0);
}
.btn-buy:before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
}
.btn-buy::after {
    transition: all 0.3s ease-in-out;
}
.btn-buy:hover div {
    opacity: 0;
    transform: translate(100%, 0);
}
.btn-buy div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
}
.cart-icon {
    font-size: 1.6rem;
    height: 3rem;
    width: 3rem;
    color: #272727;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .btn-buy {
        width: 70%;
    }
}
@media screen and (max-width: 575px) {
    .btn-buy {
        width: 70%;
    }
}
