.product-detail-container {
    .main-detail-wrapper {
        display: flex;
        width: 100%;
        gap: 4rem;
        .product-image {
            width: 45%;
        }

        .product-detail {
            width: 55%;
        }
    }

    .product-nav {
        margin-top: 4rem;
    }

    .product-desc-wrapper {
        .product-desc {
            font-size: 1.7rem !important;
        }
    }
}

@media (max-width: 45rem) {
    .main-detail-wrapper {
        display: block !important;
        .product-image {
            width: 100% !important;
        }

        .product-detail {
            width: 100% !important;
            margin-top: 2rem;
        }
    }
}
