.wrapper {
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 2rem;

    &:hover .product-name {
        color: #ccc;
    }

    img {
        width: 18%;
        object-fit: contain;
    }
    .product-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;

        .product-name {
            font-size: 1.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            font-weight: 600;
        }

        .price-info {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .sale-price {
                font-size: 1.4rem;
                color: #db003b;
                font-weight: 600;
            }

            .old-price {
                font-size: 1.4rem;
                color: #ccc;
                text-decoration: line-through;
            }
        }
    }
}
