.form-wrapper {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    ::-webkit-scrollbar {
        display: none;
    }
    .form-background {
        width: 50%;
        height: 100%;
    }
    .form {
        background-color: #0e0e0ea9;
        height: 100%;
        width: 50%;
        padding: 5rem 5rem;
        // display: flex;
        // flex-direction: column;
        overflow-y: scroll;
        .label {
            color: white;
            padding: 1rem 0;
        }

        .check-box-label {
            padding: 1rem 1rem 0.5rem 0;
        }

        .id-input {
            background-color: #aeaeae !important;
        }
        .input {
            background-color: #f0f0f0;
            margin: 1px;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
            height: 5rem;
            border-radius: 10rem;
        }
        .button-wrapper {
            display: flex;
            gap: 3rem;
            margin-top: 2rem;
            width: 100%;

            .button:hover {
                opacity: 0.8;
            }
            .add-button {
                width: 100%;
                height: 5rem;
                background-color: #ed6a5e;
                color: white;
                font-weight: 500;
                border-radius: 10rem;
            }
            .update-button {
                width: 100%;
                height: 5rem;
                background-color: black;
                color: white;
                border-radius: 10rem;
            }
            .delete-button {
                width: 100%;
                height: 5rem;
                background-color: black;
                color: white;
                border-radius: 10rem;
            }
        }
    }
}
