$buttonWidth: 5rem;
.product-detail-container {
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .product-detail-title {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .product-detail-subtitle {
        display: flex;
        gap: 5rem;
        border-bottom: solid 1px #dbdbdb;
        .product-detail-id {
            color: #888;
            font-weight: 400;
            font-size: 14px;
        }
        .product-detail-brand {
            color: #888;
            font-weight: 400;
            font-size: 14px;
        }
    }

    .product-detail-price {
        color: #ed1c24;
        font-weight: bold;
        font-size: 25px;
    }
    .product-feature-wrapper::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }

    .product-feature-wrapper::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }

    .product-feature-wrapper::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
    .product-feature-wrapper:hover {
        overflow-y: scroll;
    }

    .product-feature-wrapper {
        max-height: 30rem;
        overflow: hidden;
        width: 100%;
        .product-feature {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.561);
        }
    }
    .product-feature-add:hover {
        background-color: rgb(238, 238, 238);
    }
    .product-feature-add {
        font-size: 1.5rem;
        background-color: white;
        border-radius: 100rem;
        border: rgb(224, 224, 224) 1px solid;
        height: 5rem !important;
        width: 20%;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .counter {
        display: flex;
        .decrement {
            width: $buttonWidth;
            aspect-ratio: 1;
            background-color: #ccc;
            cursor: pointer;
            border: solid 1px #dbdbdb;
            border-radius: 3rem 0 0 3rem;
        }
        .count-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $buttonWidth;
            background-color: rgb(255, 255, 255);
            border: solid 1px #dbdbdb;
        }
        .increment {
            width: $buttonWidth;
            aspect-ratio: 1;
            background-color: #ccc;
            cursor: pointer;
            border: solid 1px #dbdbdb;
            border-radius: 0 3rem 3rem 0;
        }
    }
    .cart-add,
    .buy-now {
        border: solid 1px #dbdbdb;
        height: 6rem;
        background-color: #ed1c24;
        width: 100%;
        color: white;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
        font-weight: 600;
        border-radius: 3rem;
        cursor: pointer;
        .text {
            margin-left: 1rem;
        }
        .text-icon {
        }
    }
    .cart-add:hover {
        background-color: #ff3037;
    }

    .buy-now {
        background-color: black;
        border: solid 1px #dbdbdb;
    }
    .buy-now:hover {
        background-color: rgb(49, 49, 49);
    }
}

.disable {
    background-color: #f7f6f6 !important;
}
.input-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(211, 211, 211) solid;
    width: 100%;
    margin-bottom: 1.5rem;

    .input {
        padding: 1rem;
        width: 90%;
    }
    .icon {
        cursor: pointer;
        padding: 0 10px;
        font-size: 1.8rem;
    }
    .icon:hover {
        color: rgb(131, 131, 131) !important;
    }
}
.newInput-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.newInput {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(211, 211, 211) solid;
    width: 78%;
    margin-bottom: 1.5rem;
    padding: 1rem;
}
