.wrapper {
    position: relative;
}

.wrapper .body-layout {
    display: flex;
    background-color: #edeff3;
    gap: 1rem;

    .left-side {
        background-color: #5a6276;
        width: 10%;
        height: 100vh;
        position: fixed;
    }

    .right-side {
        height: 100vh;
        overflow-y: scroll;
        padding-left: 10%;
        width: 100%;
        .content-wrapper {
            padding: 2rem 1rem 0 1rem;
        }
    }
}
