.header-product-wrapper {
    display: flex;
    border: 0.1rem solid rgb(213, 213, 213);
    height: auto;
    background-color: rgb(236, 236, 236);
    justify-content: space-between;
    align-items: center;
}
.header-product-sort {
    display: flex;
    align-items: center;
}
// .sort-product {

// }
.sort-menu {
    z-index: 100;
    background-color: #fff;
    border: 0.05rem solid black;
    border-radius: 20px;
    position: absolute;
    margin-top: 1rem;
    width: auto;
    li {
        width: 100%;
        line-height: 2.5rem;
    }
}
.layout-icon {
    ul {
        display: flex;
        li {
            padding: 1rem 1.5rem 1rem 1.5rem;
            border-left: 0.1rem solid rgb(213, 213, 213);
        }
    }
}
.active {
    color: rgb(175, 32, 32);
}
