.item-best-sale {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    grid-template-areas:
        'row1'
        'row2';
}
.active-second-layout {
    display: flex;
    .infor-item {
        display: none;
    }
}
.tag-best-sale {
    z-index: 10;
    position: absolute;
    color: #fff;
    padding: 0 10px;
    width: auto;
    background-color: red;
    font-size: 14px;
    opacity: 0;
}
.active-hot-tag {
    opacity: 1;
}
.box-avtar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(213, 213, 213);
    // padding: 0.3rem;
    grid-area: row1;
    img {
        width: 80%;
    }
}
.avtar-product {
    width: 100%;
    object-fit: cover;
}
.action-product {
    opacity: 0;
    display: none;
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 1.5rem 0;
    background-color: rgb(221, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        background-color: transparent;
        color: #fff;
        margin: 0.5rem;
        border: 0.12rem solid #fff;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    span:hover {
        background-color: #fff;
        color: red;
    }
    animation: zoom-in 0.3s linear forwards;
}

.active {
    animation: zoom-out 0.3s linear forwards;
}
@keyframes zoom-out {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}
@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}
.icon-search {
    font-weight: 600;
}
.icon-cart {
    font-weight: 600;
}
.icon-compare {
    font-weight: 600;
}
.infor-item {
    grid-area: row2;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        'row3'
        'row4';
    span {
        width: 95%;
        text-align: center;
        margin-bottom: 5px;
    }
}
.title-product {
    font-size: 82%;
    position: relative;
    height: auto;
    grid-area: row3;
    margin-top: 0.5rem;
    // padding-bottom: 2rem;
}
.price-product {
    height: auto;
    margin-top: 2rem;
    grid-area: row4;
    color: red;
    font-weight: bold;
    line-height: 3rem;
}
