.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow: hidden;
}
.wrapper-title {
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    span {
        padding: 8px 0;
        border-bottom: 5px solid red;
    }
}

.wrapper-img {
    width: 100%;
    margin: 0 0 1.5rem 0;
    display: none;
}
.active-banner {
    display: block;
}
.wrapper-pic {
    object-fit: cover;
    width: 100%;
}
.wrapper-item {
    height: 100%;
}
.wrapper-product {
    height: auto;
    margin-bottom: 2rem;
}
.swiper {
    height: auto;
    margin-bottom: 3rem;
}
.swiper-item {
    width: 25%;
    height: auto !important;
    padding: 1rem;
    margin: 2.5rem 0;
}
// // .owl-item {
// //     width: 100%;
// //     display: flex;
// // }
