.product-container {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .image-wrapper {
        height: 100%;
        aspect-ratio: 1;
        border: 1px solid #ececec;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;

        .product-image {
            width: 90%;
            height: 90%;
            object-fit: contain;
        }
    }
}

.detail-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 1rem;

    .product-title {
        font-size: 1.3rem;
        font-weight: normal;
        color: #383838;
        height: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 23em;
        display: block;
    }

    .product-price {
        display: flex;
        align-items: center;
        color: red;
        width: 100%;
        height: 30%;
        font-size: 1.7rem;
        font-weight: bold;
    }

    .feature-wrapper {
        height: 45%;
        width: 100%;
        overflow: scroll;

        .feature {
            font-size: 1.2rem;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 23rem;
        }
    }

    .feature-wrapper::-webkit-scrollbar {
        display: none;
    }
}
